:root {
  --blue-dark-50: #F0F6FF;
  --blue-dark-100: #D9E6FF;
  --blue-dark-200: #B9CFFF;
  --blue-dark-300: #8DAFFF;
  --blue-dark-400: #4076FF;
  --blue-dark-500: #1A40FF;
  --blue-dark-600: #1735E0;
  --blue-dark-700: #142BC0;
}
