@import "indicator-ui/dist/index.css";
@import 'src/shared/styles/indicator-ui-var.scss';

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;

    button {
      cursor: pointer;
      background: none;
    }

    input {
      background: none;
    }
  }
}
